/* This rule applies a margin of 5% on the top and bottom and 10% on the left and right sides to the HTML element with the class "form". It also sets the display property to "flex" and the flex-direction property to "column" to arrange the child elements in a vertical column, and aligns the child elements vertically in the center of the parent element. */
.form{
  margin: 5% 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This rule applies a margin-top of 1% to all button elements on the page to create some space between the button and the preceding element. */
button{
  margin-top: 1%;
}